<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add Student</title>
    <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBbSCjeQJuHKJWrlxbXO7CAsxqe1Rfonm4",
        authDomain: "mj-4-68322.firebaseapp.com",
        databaseURL: "https://mj-4-68322.firebaseio.com",
        projectId: "mj-4-68322",
        storageBucket: "mj-4-68322.appspot.com",
        messagingSenderId: "1032019494676"
      };
      firebase.initializeApp(config);
    </script>


  </head>
  <body>
    <input id="txtNumberZ" type="text">
    <input id="txtGroup" type="text">
    <input id="txtSpeciality" type="text">
    <input id="txtDepartment" type="text">
    <button id="btnConfirm">Додати студента</button>


    <script src="Dean/jsD/addStudent.js">
    </script>
  </body>
</html>
