<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Додати викладача</title>


    <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBbSCjeQJuHKJWrlxbXO7CAsxqe1Rfonm4",
        authDomain: "mj-4-68322.firebaseapp.com",
        databaseURL: "https://mj-4-68322.firebaseio.com",
        projectId: "mj-4-68322",
        storageBucket: "mj-4-68322.appspot.com",
        messagingSenderId: "1032019494676"
      };
      firebase.initializeApp(config);
    </script>

  </head>
  <body>
      <h1>Додати викладача</h1>

      <input id = "txtDepartment" placeholder="Факультет">
      <input id = "txtLastName" placeholder="Прізвище">
      <input id = "txtFirstName" placeholder="Ім'я">
      <input id = "txtFatherName" placeholder="По-батькові">
      <input id = "txtEmail" placeholder="Емейл">

      <button id = "btnConfirm">Підтвердити</button>

      <script src="Dean/jsD/addTeacher.js">
      </script>
  </body>
</html>
