<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Домашня сторінка</title>



            <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
            <script>
              // Initialize Firebase
              var config = {
                apiKey: "AIzaSyBbSCjeQJuHKJWrlxbXO7CAsxqe1Rfonm4",
                authDomain: "mj-4-68322.firebaseapp.com",
                databaseURL: "https://mj-4-68322.firebaseio.com",
                projectId: "mj-4-68322",
                storageBucket: "mj-4-68322.appspot.com",
                messagingSenderId: "1032019494676"
              };
              firebase.initializeApp(config);
            </script>

  </head>
  <body>
    <h1>Домашня сторінка адміністратора</h1>
    <button id = "logoutBtn" type="button" name="logout">Вийти</button>
    <button id = "btnAddStudent">Додати студента</button>
    <button id = "btnAddTeacher">Додати викладача</button>
    <button id = "btnFillSchedule">Заповнити розклад</button>
    <button id = "btnAddChair">Додати кафедру</button>
    <button id = "btnDefineSubjects">Визначити список предметів для груп</button>
    <button id = "btnDefineTeachers">Визначити список викладачів для груп</button>
    <button id = "btnDefineHollidays">Визначити час канікул</button>

    <script src="Dean/jsD/HomeD.js">
    </script>
  </body>
</html>
