<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%=subjectName %></title>

    <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBbSCjeQJuHKJWrlxbXO7CAsxqe1Rfonm4",
        authDomain: "mj-4-68322.firebaseapp.com",
        databaseURL: "https://mj-4-68322.firebaseio.com",
        projectId: "mj-4-68322",
        storageBucket: "mj-4-68322.appspot.com",
        messagingSenderId: "1032019494676"
      };
      firebase.initializeApp(config);

    </script>

  </head>
  <body>
    <h1><%=subjectName %></h1>
    <h2><%=academicUnit %></h2>
    <button id = "btnDefineMarksStructure" type="button" name="button">Визначити структуру оцінок</button>
    <button id = "btnGiveTask" type="button" name="button">Дати завдання</button>
    <button id = "btnLeftAnn" type="button" name="button">Залишити оголошення</button>
    <button id = "btnSetMarks" type="button" name="button"> Тести</button><br>

    <div id="divStudentsList">

    </div>
    <script src="Teacher/jsT/ChoosedSubjectT.js">
    </script>
  </body>
</html>
