<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Login Page</title>

    <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyBbSCjeQJuHKJWrlxbXO7CAsxqe1Rfonm4",
        authDomain: "mj-4-68322.firebaseapp.com",
        databaseURL: "https://mj-4-68322.firebaseio.com",
        projectId: "mj-4-68322",
        storageBucket: "mj-4-68322.appspot.com",
        messagingSenderId: "1032019494676"
      };
      firebase.initializeApp(config);
    </script>

  </head>

  <body>

<h1>Логін</h1>  

    <div class="container">
        <input id="txtEmail" type="email" placeholder="Емейл"><br>
        <input id="txtPassword" type="password" placeholder="Пароль"><br>


        <button id="btnLogin" class="btn btn-action">
            Ввійти
        </button>

        <button id="btnSignUp" class="btn btn-secondary">
            Зареєструватися
        </button>

    </div>

    <script src="Common/jsC/login.js"></script>

  </body>

</html>
