<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Виберіть себе</title>
  </head>
  <body>
      <button id="studentBtn" type="button" name="student">Студент</button>
      <button id="teacherBtn" type="button" name="teacher">Викладач</button>
      <button id="deanBtn" type="button" name="dean">Деканат</button>


        <script src="Common/jsC/whoU.js">

        </script>
  </body>
</html>
