<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Schedule Student Choose Day</title>
  </head>
  <body>
    <button id ="btnMonday">Понеділок</button><br>
    <button id ="btnTuesday">Вівторок</button><br>
    <button id ="btnWednesday">Середа</button><br>
    <button id ="btnThursday">Четвер</button><br>
    <button id ="btnFriday">П'ятниця</button>

    <script src="Student/jsS/ScheduleChooseDay.js">
    </script>
  </body>
</html>
